html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.landing-heading {
  font-weight: 600;
  font-size: 68px;
  line-height: 86px;
  letter-spacing: -0.04em;
  margin-bottom: 55px;
  color: #32325d;
  text-shadow: 0px 4px 5px rgba(50, 50, 93, 0.09);
}
.landing-subheading {
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 46px;
  color: #424770;
}
.landing-copy {
  margin-bottom: 255px;
}
.landing-icon {
  cursor: pointer;
  transition: fill 0.15s;
  fill: #525f7f;
}
.landing-icon:hover {
  fill: #6772e5;
}
.level {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.level > .level-item:not(.is-narrow) {
  flex-grow: 0;
}
.level-item {
  padding-right: 44px;
  justify-content: start;
  margin-bottom: 25px;
}
.level-item:last-child {
  padding-right: 0;
}
.level-item > svg {
  width: 32px;
  height: 32px;
}
.column {
  margin-top: auto;
  margin-bottom: auto;
}
.columns {
  min-height: 100vh;
}
.section {
  overflow-x: hidden;
}
@media screen and (max-width: 767.96px) {
  .landing-heading {
    line-height: 63px;
    font-size: 55px;
  }
  .landing-subheading {
    line-height: 38px;
    font-size: 22px;
  }
  .landing-copy {
    margin-bottom: 130px;
  }
  .level-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 375px) {
  .landing-heading {
    font-size: 50px;
    line-height: 65px;
  }
}
